[{:db/id            #db/id[:db.part/user -1000001]
  :group/name       "Mod"
  :group/permission "Moderator"}

 {:db/id            #db/id [:db.part/user -1000002]
  :group/name       "Admin"
  :group/permission "Administrator"}

 {:db/id         #db/id [:db.part/user -1000003]
  :user/name     "Yannick"
  :user/email    "yannick.sealy08@gmail.com"
  :user/password "password"
  :user/group    #db/id[:db.part/user -1000001 -1000002]
  :user/status   :user.status/active}

 {:db/id         #db/id [:db.part/user -1000004]
  :user/name     "Matthew"
  :user/email    "matthew2@gmail.com"
  :user/password "password"
  :user/group    #db/id[:db.part/user -1000001]
  :user/status   :user.status/active}

 {:db/id                 #db/id [:db.part/user -1000005]
  :property/name         "Rainbow Villas"
  :property/location     "Goodwood Park"
  :property/description  "This is a 5,000 square foot luxury 4
                               bedroom 4 bathroom villa in a gated
                               community called Rainbow Villas at Goodwood
                               Park."
  :property/propertytype "house"
  :property/sellprice    5500000.00
  :property/rentprice    25800.00
  :property/amenities    "Premium end unit with fantastic ocean and city views,
                                  Floor area climate-controlled"}

 {:db/id                 #db/id [:db.part/user -1000006]
  :property/name         "La Renaissance"
  :property/location     "Shorelands"
  :property/description  "This unit has a fully equipped kitchen with GE Monogram
                          appliances, is beautifully tiled and is available for
                          immediate occupancy."
  :property/propertytype "house"
  :property/sellprice    15500000.00
  :property/rentprice    38500.00
  :property/amenities    "Unparalleled security,Concierge,Valet,Spa,Sauna,Gym,Social
                          room for catered gatherings,Rental sellprice US $6000,Sale
                          sellprice TT $15.5million"}

 {:db/id                 #db/id [:db.part/user -1000007]
  :property/name         "The Buoys"
  :property/location     "Carenage"
  :property/description  "The Buoys is a luxury gated community in the West with Clubhouse
                          and Tennis Courts. This lot also enjoys views of the city skyline."
  :property/propertytype "house"
  :property/sellprice    3500000.00
  :property/rentprice    0.00
  :property/amenities    "Unparalleled security,Concierge,Valet,Spa,Sauna,Gym,Social
                          room for catered gatherings,Rental sellprice US $6000,Sale
                          sellprice TT $15.5million"}

 {:db/id                 #db/id [:db.part/user -1000008]
  :property/name         "Hilltop Drive"
  :property/description  "Fully-furnished 3-bedroom apartment in The Park, Glencoe with beautiful marina, ocean and city skyline views."
  :property/amenities    "Completed refurbished kitchen with granite counters,Stainless steel appliances,Swimming pool + Jacuzzi"
  :property/location     "Glencoe"
  :property/propertytype "house"
  :property/sellprice    1.00
  :property/rentprice    0.00}

 {:db/id                 #db/id [:db.part/user -1000009]
  :property/name         "Plaissance"
  :property/description  "This is a two acre commercial lot situated on the Guayaguayare main road."
  :property/amenities    "placeholder"
  :property/location     "St. Margaret's village"
  :property/propertytype "land"
  :property/sellprice    1.00
  :property/rentprice    0.00}

 {:db/id                 #db/id [:db.part/user -1000010]
  :property/name         "Plaissance Beachfront"
  :property/location     "Plaissance"
  :property/description  "This property has approval from T&CPD (town and country Planning
                          Division) to subdivide into villa sites."
  :property/propertytype "land"
  :property/sellprice    9500000.00
  :property/rentprice    0.00
  :property/amenities    "3 minutes walk from the UTT & UWI (university) campuses,Swimming
                          pool,Tennis courts,Asking sellprice is  TT 9.5 million,CEC(certificate
                          of environmental clearance) from the EMA(environmental management
                          authority)."}

 {:db/id                #db/id [:db.part/user -1000011]
  :property/name         "Sunset Lands"
  :property/description  "8000 Sqaure feet approved building lots in a gated secure community with financing readily available. "
  :property/location     "Sunset drive, Mayaro"
  :property/propertytype "land"
  :property/sellprice    1.00
  :property/rentprice    0.00
  :property/amenities    "Gentle constant sea breeze,Excellent water sports,Next to sunset beach
                          resort with swimming pools and children's playground and entertainment
                          center,Quiet rural countryside setting. Ideal for weekend getaways or retirement home.
                          Assured rental income,Mayaro is set to become the premier beach tourist and eco-adventure
                          resort destination in Trinidad,New port at guayaguayare to facilitate increased oil and gas
                          production with foreign direct investment and increased expat participation, Proposed new
                          highway link to the city of san fernando, New highway extension from piarco international
                          airport through Wallerfield/Nariva nature reserve."}

 {:db/id                 #db/id [:db.part/user -1000012]
  :property/name         "Hingwan Drive"
  :property/description  "The Hingwan Drive property is a beachfront development."
  :property/location     "Hingwan Drive"
  :property/propertytype "land"
  :property/sellprice    300000.00
  :property/rentprice    0.00
  :property/amenities    "Close to the university's amenities,Tennis Court,Swimming pool,Soccer field,
      The land has Town & Country approval with good infrastructure such as lights & water & drainage,
      5000 square foot lots,TT $300000 perlot"}

 {:db/id                 #db/id [:db.part/user -1000013]
  :property/name         "Oceanwinds"
  :property/description  "This is a two acre commercial lot situated on the Guayaguayare main road next to Cherry's mini-mart."
  :property/location     "St. Margaret's village, Mayaro"
  :property/propertytype "land"
  :property/sellprice    1.00
  :property/rentprice    0.00
  :property/amenities    "placeholder"}


 ]