{:dev true
 :port 4000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000
 ;:database-uri "datomic:dev://localhost:4334/shorelands"
 :database-uri "datomic:mem://shorelandsdb"
 :auth-key "M1r@n@"
 }
